<div class="row">
  <div class="col-md-12">
    <h2>Services</h2>

    <div ng-repeat="service in services">
      <div class="row service">

        <div class="col-md-2">
          <img ng-src="http://techguystaging.com/files/{{service.image}}" alt="computer icon">
        </div>
        <div class="col-md-10">
          <h3>{{service.name}}</h3>
          <p>{{service.description}}</p>
          <a class="btn btn-primary" href="contact.html">Contact Us</a>
        </div>
      </div>
    </div>

  </div> <!-- end col 12 -->

</div>